body {
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.placa {
    float: left;
    margin: 7vh 10%;
}